@{
    ViewData["Title"] = "Home Page";
}

<html>
    <head>
        <style>
            .can{
                display:flex;
             /*   flex-wrap:wrap;
                flex-direction:row-reverse;*/
                flex-flow:row wrap;
               /*flex-wrap: nowrap;*/
               /* flex-direction:row-reverse;*/
            /* flex-direction:column-reverse;*/
            /* flex-wrap:wrap-reverse;*/
           /* justify-content:flex-end*/
          /* justify-content:space-between;*/
                align-content:center;
                justify-content:center;
                animation:center;
                height:700px;
                align-items:center;
                background-color:blue;

            }
            .can> div{
                padding:20px;
                background-color:#808080;
                margin:10px;
                width:100px;
                height:100px;
                text-align:center;
                line-height:60px;
                font-size:30px;
            }
        </style>
        <body>
            <div class="can">
               <div style="order:3">1</div>
               <div style="order:4; flex-basis:400px;">2</div>
               <div style="order:6">3</div>
               <div>4</div>
                <div>5</div>
                <div>6</div>
                <div>7</div>
                <div>8</div>
            <div>9</div>
            <div>10</div>
           <div>11</div>
            <div>12</div>
            <div>13</div>
            <div>14</div>
            <div>15</div>
            <div>16</div>
             
            </div>
        </body>
    </head>
</html>